# Port to listen on
PORT=5001

# Environment Mode
NODE_ENV=development

# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/ascopeitdb?schema=public"

# JWT Token Secret Keys
JWT_SECRET="supersecretaccesskey"
JWT_REFRESH_SECRET="supersecretrefreshkey"

# SMTP Email Configuration (Nodemailer setup)
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""

# React Client Application Origin (for CORS filters configuration)
CLIENT_URL="http://localhost:5173"
